### macOS
# Finder metadata
.DS_Store

# Thumbnails
._*

# Custom folder icons
Icon


# Volume root files
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

### RunFunMan TTS
# 생성된 음성과 참조 음성은 저장소에 올리지 않는다 (용량 큼 / 개인 목소리)
tts/*.wav
